<div class="mt-2 mb-4">
    <div class="row d-flex cart align-items-center justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="d-flex justify-content-center border-bottom">
                    <div class="p-3">
                        <div class="progresses">
                            <i class="bi bi-check"></i>
                            <div class="steps"> <span><i class="bi bi-check"></i></span> </div> <span class="line"></span>
                            <div class="steps"> <span><i class="bi bi-check"></i></span> </div> <span class="line"></span>
                            <div class="steps"> <span class="font-weight-bold">3</span> </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-12 border-right p-5">
                        <div class="text-center order-details">
                            <div class="d-flex justify-content-between align-items-center"> <span><i class="fa fa-clock-o text-muted"></i> 3 days delivery</span>  </div>
                            <div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span class="check1"><i class="fa fa-check"></i></span> <span class="font-weight-bold">Order Confirmed</span> <small class="mt-2">Your order will go to you soon</small> <a href="/invoice" class="text-decoration-none invoice-link">View Invoice</a> </div>
                            <a href="/orders" class="btn btn-primary"> Go to your Order</a>
                        </div>
                    </div>
                    
                    </div>
                </div>
                <div> </div>
            </div>
        </div>
    </div>
</div>

<style>
    body{background-color: #eee;font-family: "Poppins", sans-serif;font-weight: 300}.cart{height: 150vh}.progresses{display: flex;align-items: center}.line{width: 90px;height: 6px;background: #63d19e}.steps{display: flex;background-color: #63d19e;color: #fff;font-size: 12px;width: 40px;height: 40px;align-items: center;justify-content: center;border-radius: 50%}.check1{display: flex;background-color: #eaefed;color: rgb(14, 13, 13);font-size: 17px;width: 70px;height: 70px;align-items: center;justify-content: center;border-radius: 70%;margin-bottom: 10px}.invoice-link{font-size: 15px}.order-button{height: 50px}.background-muted{background-color:#fafafc}
</style>
<script>
    
</script>